body {
    --bg-color: var(--tg-theme-bg-color, #222222);
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color, #222);
    font-size: 14px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
    margin-left: 0 auto;
    margin-right: 0 auto;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tg-theme-secondary-bg-color, #efefef);
    
}
.header{
    text-align: center;
    color: white;
}
.info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
#weather-img{
    width: 150px;
    margin-bottom:20px;
    margin-top: 10px;
}
button{
    /* margin: 20px; */
    padding: 12px;
    background-color: rgb(42, 193, 42);
    border: 0px ;
    border-radius: 10px;
    color-scheme: var(--tg-color-scheme);
    color: var(--tg-theme-text-color, #e9e9e9);
    width: 200px;
    transition: all 0.3s ease;
}
button:hover {
    /* margin: 20px; */
    padding: 12.5px;
    background-color: rgb(36, 152, 36);
    border: 0px ;
    border-radius: 10px;
    color-scheme: var(--tg-color-scheme);
    color: var(--tg-theme-text-color, #e9e9e9);
    cursor:pointer;
}

.form-block form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
input {
    padding: 10px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: rgb(139, 139, 139);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  input::placeholder {
    color: rgb(177, 177, 177);
    font-style:inherit;
  }
  
  