body {
    /* Layout Properties */
    display: flex;
    justify-content: center;

    /* UI Properties */
    background:var(--tg-theme-bg-color, #F5F5F5);
    color-scheme: var(--tg-color-scheme);
    opacity: 1;
    box-sizing: border-box;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.channels{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    margin-top: 35px;
}
.channel{
    display: flex;
    align-items: center;
    flex-direction:column;
    /* padding: 30px; */
    justify-content: center;
    position: relative;
}
/* .channel img:active{
    cursor: pointer;
    width: 255px;
    height: 255px;

} */
.channel-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.channel-img{
    transition: all 0.3s ease;
    /* Layout Properties */
    width: 75px;
    height: 75px;
    /* UI Properties */
    box-shadow: 0px 3px 5px var(--tg-theme-text-color, #00000029);
    /* border: 3px solid #27A7E7; */
    border-radius: 10px;
    opacity: 1;
}
#locked {
    background: rgba(0, 0, 0, 0.5); 
    filter: blur(3px); 
    
}

#lock-icon{
      width: 45px;
      height: 35px; 
      position:absolute;
      top:20px; 
      left: 63px; 
      z-index: 1;
  }

.channel-name{
    /* Layout Properties */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 48px;
    /* UI Properties */
    text-align: center;
/*     font: normal normal bold 23px/31px SF Pro; */
    letter-spacing: 0px;
    color: var(--tg-theme-text-color, #7d7d7d);
    opacity: 1;
    font-size: 17px;
}

button{
    /* margin: 20px; */
    padding: 18px;
    background-color: rgb(42, 193, 42);
    border: 0px ;
    border-radius: 10px;
    color-scheme: var(--tg-color-scheme);
    color: var(--tg-theme-text-color, #e9e9e9);
    width: 90%;
    transition: all 0.3s ease;
    font-size: 20px;
    z-index: 1;
    position: fixed;
    bottom: 2px;
    left: 50%; /* Положение слева на 50% ширины страницы */
    transform: translateX(-50%); /* Центрирование по горизонтали */ 
    
}
h1{
    color: var(--tg-theme-text-color, #7d7d7d);
    margin: 35px auto;
    padding: 15px auto;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: DejaVu Sans Mono, monospace;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow:
        0px 0px 10.4px rgba(0, 0, 0, 0.045),
        0px 0px 25.1px rgba(0, 0, 0, 0.065),
        0px 0px 47.2px rgba(0, 0, 0, 0.08),
        0px 0px 84.2px rgba(0, 0, 0, 0.095),
        0px 0px 157.5px rgba(0, 0, 0, 0.115),
        0px 0px 377px rgba(0, 0, 0, 0.16);
}
