body {
    /* Layout Properties */
    display: flex;
    justify-content: center;

    /* UI Properties */
    background:var(--tg-theme-bg-color, #F5F5F5);
    color-scheme: var(--tg-color-scheme);
    opacity: 1;
    box-sizing: border-box;

}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.channel{
    display: flex;
    align-items: center;
    flex-direction:column;
    padding: 30px;
}
.channel img:active{
    cursor: pointer;
    width: 255px;
    height: 255px;

}
.channel img{
    transition: all 0.3s ease;
    /* Layout Properties */
    width: 180px;
    height: 180px;
    /* UI Properties */
    box-shadow: 0px 15px 15px #00000029;
    border: 3px solid #27A7E7;
    border-radius: 50px;
    opacity: 1;
}

.channel-name{
    /* Layout Properties */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 30px/38px SF Pro;
    letter-spacing: 0px;
    color: var(--tg-theme-text-color, #27A7E7);
    opacity: 1;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

video {
    width: 600px;
    height: 100%;
    border-radius: 10px;
    box-shadow:
        0px 0px 10.4px rgba(0, 0, 0, 0.045),
        0px 0px 25.1px rgba(0, 0, 0, 0.065),
        0px 0px 47.2px rgba(0, 0, 0, 0.08),
        0px 0px 84.2px rgba(0, 0, 0, 0.095),
        0px 0px 157.5px rgba(0, 0, 0, 0.115),
        0px 0px 377px rgba(0, 0, 0, 0.16);
}